<div class="inner-wrapper">
    <p>
        You, or someone, entered this email in a password reset form on 
        <a href="www.mypackpacker.com">MyPackPacker.com</a>,
        however we did not find an account associated with this email.
    </p>
    <p>
        If you do not have a MyPackPacker account, you dont have to do anything.
    </p>
    <p>
        If you did request a password reset for your MyPackPacker account, it is not associated with this email.
    </p>
    <p>
        Thank you and have a great day!
    </p>
    {{>footer}}
</div>