<div class="inner-wrapper">
    <p>
        Hey there {{username}},
    </p>
    <p>
        You are receiving this email because someone sent a password reset request on behalf of your account. If this
        was not you,
        you can safely ignore this message. For more information, visit our <a href="https://www.mypackpacker.com/help#security">security FAQ</a>.
    </p>
    <p>
        If this was you, you can reset your password here:
    </p>
    <p>
        <a href="https://www.mypackpacker.com/user/account/reset/{{uid}}">
            www.mypackpacker.com/user/account/reset/{{uid}}
        </a>
    </p>
    <p>
        Thank you and have a great day!
    </p>
    {{>footer}}
</div>